{% extends 'layout.html' %}

{% block content %} 

<p style="text-align: center; font-size: 30px; margin-top: 50px;">Hello, {{session.get('user')}}!</p>
<div class="container">
    <button class="tablink" onclick="openDetails('total_donations', this, '#9a8c98')" id="defaultOpen">Total Donations Made</button>
    <button class="tablink" onclick="openDetails('donated_amount', this, '#277da1')">Amount Donated</button>
    <button class="tablink" onclick="openDetails('saved_campaigns', this, '#006466')">Saved Campaigns</button>
    <button class="tablink" onclick="openDetails('campaign_history', this, '#ea3546')">Campaign History</button>
</div>

<div class="container">
    <div id="total_donations" class="tabcontent">
        <h3>You have made {{donations.number_of_donations}} donation(s), so far.</h3>
        <h3>Thank you for your support!</h3>
    </div>

    <div id="donated_amount" class="tabcontent">
        <h3 id="total_donations_recipients">You have donated a total of <span style="font-size: 15px;">₦</span>{{donations.total_donations}} to {{donations.total_donations_recipients}} Recipient(s).</h3> 
        <h3>You are a Champ!</h3> 
    </div>

    <div id="saved_campaigns" class="tabcontent">
        <h3>Your Saved Campaigns Will Be Displayed Here</h3>
    </div>

    <div id="campaign_history" class="tabcontent">
       
        <table class="table table-striped" style="color: white;">
            <thead style="font-size: 30px;">
                <tr>
                    <th>Campaign</th>
                    <th>Donation</th>
                    <th>Amount</th>
                </tr> 
            </thead>
            
            <tbody style="font-size: 25px;">
                {%for stats in donorstats %}
                <tr>
                    <td><a href="{{url_for('recipient_profile', id=stats.recipient_id)}}">{{stats.recipient_id}}</a></td>
                    <td>{{stats.number_of_donations}}</td>
                    <td><span style="font-size: 15px;">₦</span>{{stats.total_donations}}</td>
                </tr>
                {%endfor%}
                <tr style="color: black;">
                    <td>Total</td>
                    <td>{{donations.number_of_donations}}</td>
                    <td><span style="font-size: 15px;">₦</span>{{donations.total_donations}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="height: 300px;"></div>

{% endblock content %}
