{% extends 'layout.html' %}


 
{% block content %}
<div class="jumbotron">
<h1 style="text-align: center;">Our Vision</h1>
<p style="text-align: center; font-size: 30px; width: 700px; margin: auto;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero impedit itaque id natus quaerat odio accusamus voluptatibus cupiditate, distinctio est, temporibus quibusdam dolor voluptatum veniam consequatur, blanditiis saepe facere alias.</p>
<div id="aboutusimage"></div>
</div>

{% endblock content %}




