{% extends 'layout.html' %}


 
{% block content %} 
    
    <h1>Key facts</h1>
    <p>Oral diseases pose a major health burden for many countries and affect people throughout their lifetime, causing pain, discomfort, disfigurement and even death.
    These diseases share common risk factors with other major noncommunicable diseases. (1)
    It is estimated that oral diseases affect nearly 3.5 billion people. (2)
    Untreated dental caries (tooth decay) in permanent teeth is the most common health condition according to the Global Burden of Disease 2017. (1)
    More than 530 million children suffer from dental caries of primary teeth (milk teeth).
    Severe periodontal (gum) disease, which may result in tooth loss, is also very common, with almost 10% of the global population affected.
    Oral cancer (cancer of the lip or mouth) is one of the three most common cancers in some countries of Asia and the Pacific. (3)
    Treatment for oral health conditions is expensive and usually not part of universal health coverage (UHC). In most high-income countries, dental treatment averages 5% of total health expenditure and 20% of out-of-pocket health expenditure.
    Most low- and middle-income countries are unable to provide services to prevent and treat oral health conditions.
    Factors contributing to oral diseases are an unhealthy diet high in sugar, use of tobacco and harmful use of alcohol.
    Most oral health conditions are largely preventable and can be treated in their early stages.</p>
    
    <h2>Oral health conditions</h2>
    <p>The majority of oral health conditions are: dental caries (tooth decay), periodontal diseases, oral cancers, oral manifestations of HIV, oro-dental trauma, cleft lip and palate, and noma (severe gangrenous disease starting in the mouth mostly affecting children). Most oral health conditions are largely preventable and can be treated in their early stages.</p>
    
    <p>The Global Burden of Disease Study 2017 estimated that oral diseases affect close to 3.5 billion people worldwide, with caries of permanent teeth being the most common condition. Globally, it is estimated that 2.3 billion people suffer from caries of permanent teeth and more than 530 million children suffer from caries of primary teeth.</p>
    
    <p>In most low- and middle-income countries, with increasing urbanization and changes in living conditions, the prevalence of oral diseases continues to increase. This is primarily due to inadequate exposure to fluoride (in the water supply and oral hygiene products such as toothpaste) and poor access to oral health care services in the community. Marketing of food and beverages high in sugar, as well as tobacco and alcohol, has led to a growing consumption of products that contribute to oral health conditions and other noncommunicable diseases.
    </p>
    
    <!-- Oral manifestations of HIV infection
    Oral manifestations occur in 30-80% of people with HIV,6 with considerable variations depending on the affordability of standard antiretroviral therapy (ART).
    
    Oral manifestations include fungal, bacterial or viral infections of which oral candidiasis is the most common and often the first symptom. Oral HIV lesions cause pain, discomfort, dry mouth, and difficulties swallowing.
    
    Early detection of HIV-related oral lesions can be used to diagnose HIV infection and monitor the disease’s progression. Early detection is also important for timely treatment.
    
    Oro-dental trauma
    Oro-dental trauma results from injury to the teeth, mouth and oral cavity. Around 20% of people suffer from trauma to teeth at some point in their life.7 Oro-dental trauma can be caused by oral factors such as lack of alignment of teeth and environmental factors (such as unsafe playgrounds, risk-taking behaviour and violence). Treatment is costly and lengthy and sometimes can even lead to tooth loss, resulting in complications for facial and psychological development and quality of life.
    
    Noma
    Noma is a severe gangrenous disease of the mouth and the face. It mostly affects children between the ages of 2 and 6 years suffering from malnutrition, affected by infectious disease, living in extreme poverty with poor oral hygiene and/or with weakened immune systems.
    
    Noma is mostly found in sub-Saharan Africa, although cases have also been reported in Latin America and Asia. Noma starts as a soft tissue lesion (a sore) of the gums, inside the mouth. The initial gum lesion then develops into an acute necrotizing gingivitis that progresses rapidly, destroying the soft tissues and further progressing to involve the hard tissues and skin of the face.
    
    In 1998, WHO estimated that there were 140 000 new cases of noma annually. Without treatment, noma is fatal in 90% of cases. Survivors suffer from severe facial disfigurement, have difficulty speaking and eating, face social stigma, and require complex surgery and rehabilitation. Where noma is detected at an early stage, its progression can be rapidly halted, through basic hygiene, antibiotics and improved nutrition.
    
    Cleft lip and palate
    Clefts of the lip or palate affect more than 1 in 1000 newborns worldwide. Genetic predisposition is a major cause. However, poor maternal nutrition, tobacco consumption, alcohol and obesity during pregnancy also play a role.8 In low-income settings, there is a high mortality rate in the neonatal period. If lip and palate clefts are properly treated by surgery, complete rehabilitation is possible.
    
    Noncommunicable diseases and common risk factors
    Most oral diseases and conditions share modifiable risk factors (such as tobacco use, alcohol consumption and an unhealthy diet high in free sugars) common to the four leading noncommunicable diseases (cardiovascular disease, cancer, chronic respiratory disease and diabetes).
    
    In addition, it is reported that diabetes is linked in a reciprocal way with the development and progression of periodontal disease. Moreover, there is a causal link between the high consumption of sugar and diabetes, obesity and dental caries. 
    
    Oral health inequalities
    Oral diseases disproportionally affect the poor and socially-disadvantaged members of society. There is a very strong and consistent association between socioeconomic status (income, occupation and educational level) and the prevalence and severity of oral diseases.9 This association exists from early childhood to older age, and across populations in high-, middle- and low-income countries.
    
    Prevention
    The burden of oral diseases and other noncommunicable diseases can be reduced through public health interventions by addressing common risk factors.
    
    These include:
    
    promoting a well-balanced diet low in free sugars and high in fruit and vegetables, and favouring water as the main drink;
    stopping use of all forms of tobacco, including chewing of areca nuts;
    reducing alcohol consumption; and
    encouraging use of protective equipment when doing sports and travelling on bicycles and motorcycles (to reduce the risk of facial injuries).
    Adequate exposure to fluoride is an essential factor in the prevention of dental caries.
    
    An optimal level of fluoride can be obtained from different sources such as fluoridated drinking water, salt, milk and toothpaste. Twice-daily tooth brushing with fluoride-containing toothpaste (1000 to 1500 ppm) should be encouraged.
    
    Access to oral health services
    Unequal distribution of oral health professionals and a lack of appropriate health facilities in most countries means that access to primary oral health services is often low. Overall, according to a survey of adults expressing a need for oral health services, access ranges from 35% in low-income countries to 60% in lower-middle-income countries, 75% in upper-middle income countries and 82% in high-income countries.10 Moreover, even in high income settings, dental treatment is costly, averaging 5% of total health expenditure and 20% of out-of-pocket health expenditure.11 Efforts in support of UHC  can  help  frame policy dialogue to address weak  primary oral   health   services,   and   address   substantial  out-of-pocket expenses associated with oral health care in many countries.
    
    WHO response
    Eight years after the United Nations High-Level Meeting on Noncommunicable Diseases recognized that oral diseases pose a major health burden for many countries, 2019 saw the inclusion of oral health in the Political Declaration on Universal Health Coverage. During the same period, Members States, with the support of the WHO, developed and endorsed strong regional strategies and calls for action in favour of oral health in the African, East Mediterranean, South-East Asia and Western Pacific regions.
    
    In such a context, WHO is committed to ensuring promotion of oral health and quality, essential treatment for oral health conditions for all people in all countries without individual financial hardship.
    
    Reducing oral health conditions calls for a reform of oral health systems to shift the focus from invasive dental treatment to prevention and more minor treatment.
    
    WHO has identified key strategies for improving oral health, with a focus on low-income and marginalized populations where access to oral health care is most limited. These include strengthening both cost-effective population-wide prevention and patient-centred primary health care.
    
    This work is being implemented through a three-year roadmap (2019-2021) that comprises a mix of normative work and practical support to countries. A top priority is the development of a global oral health report, which will provide information about the status of oral health globally. The report will serve as the evidence base for the development of a global oral health action plan.
    
    WHO also supports countries in this area by:
    
    supporting interventions to accelerate the phase-down of dental amalgam in the context of the Minamata Convention on Mercury;
    building capacity and providing technical assistance to countries to support a life-course approach and population-based strategies to reduce sugar consumption, control tobacco use, and promote fluoride-containing toothpaste and other vehicles of fluoride;
    providing assistance to strengthen oral health systems such that they are an integral part of primary health care and do not cause financial hardship; and
    reinforcing oral health information systems and integrated surveillance with other noncommunicable diseases to demonstrate the scale and impact of the problem and to monitor progress achieved in countries.
     
    
    References
    1. United Nations General Assembly. Political Declaration of the High-level Meeting of the General Assembly on the Prevention and Control of Noncommunicable Diseases. Resolution A/66/L1. 2011
    
    2. Global, regional, and national incidence, prevalence, and years lived with disability for 354 diseases and injuries for 195 countries and territories, 1990–2017: a systematic analysis for the Global Burden of Disease Study 2017. Lancet 2018; 392: 1789–8583
    
    3. Ferlay J EM, Lam F, Colombet M, Mery L, Piñeros M, Znaor A, Soerjomataram I, Bray F. Global Cancer Observatory: Cancer Today. Lyon, France: International Agency for Research on Cancer. Published 2018. Accessed 14 September, 2018.
    
    4. Mehrtash H, Duncan K, Parascandola M, et al. Defining a global research and policy agenda for betel quid and areca nut. Lancet Oncol. 2017;18(12):e767-e775.
    
    5. Mehanna H, Beech T, Nicholson T, et al. Prevalence of human papillomavirus in oropharyngeal and nonoropharyngeal head and neck cancer--systematic review and meta-analysis of trends by time and region. Head Neck. 2013;35(5):747-755.
    
    6. Reznik DA. Oral manifestations of HIV disease. Top HIV Med. 2005;13(5):143-148.
    
    7. Petti S, Glendor U, Andersson L. World traumatic dental injury prevalence and incidence, a meta-analysis - One billion living people have had traumatic dental injuries. Dent Traumatol. 2018.
    
    8. Mossey PA, Little J, Munger RG, Dixon MJ, Shaw WC. Cleft lip and palate. Lancet. 2009;374(9703):1773-1785.
    
    9. Marco A Peres and Al. Oral diseases: a global public health challenge. Lancet. 2019 https://doi.org/10.1016/S0140-6736(19)31146-8
    
    10. Hosseinpoor AR, Itani L, Petersen PE. Socio-economic inequality in oral healthcare coverage: results from the World Health Survey. J Dent Res. 2012;91(3):275-281.
    
    11. OECD. Health at a Glance 2017: OECD indicators. Published 2017. Accessed 15 February 2018.</p>
-->

    {% endblock content %}

    {% block section %}
    {% endblock section %}  
