{% extends 'layout.html' %}

 
{% block content %}

<style>
.section5{
    margin-left: 40px;
    margin-top: 70px;
    /* border: 1px solid red; */
    flex-wrap: wrap;

}


</style>


<div class="container-fluid section5">
			
    {% for recipient in recipients %}
    <div class="card-deck">
        
        <div class="card zoom">
            {%if recipient.post_image %}
            <img src='{{recipient.post_image}}' class="card-img-top" alt="Card image cap">
            {% else %}
            <img src='/static/dentyimages/cavities.png' class="card-img-top" alt="Card image cap">
            {% endif %}

            <div class="card-body">
                
                <h3 class="card-title" style="font-size: 30px;">{{recipient.post_title}}</h3>     
                          
                <h4 class="card-text" style="font-size: 30px;white-space: nowrap; width: 250px; overflow: hidden; text-overflow: ellipsis; ">{{recipient.post_description }}</h4>
            </div>
            
            
            <div class="card-footer amount">
                <h3 style="font-size: 25px;"> Target: {{recipient.amount}}</h3>

            </div>
            <input type="hidden" id="recipientIdForDonation" value="{{recipient.rec_id}}" />
            <a href= "{{url_for('recipient_profile', id=recipient.rec_id)}}" onClick="makePayment()"> 
                <div>
                    <span class="card-donate-now">Donate Now</span>
                </div>
            </a>
        </div>
    </div>	 
    {% endfor %}
</div>

{% endblock content %}

