{% extends 'layout.html' %}

{% block content %}
<style>

    #profile_section{
    /* border: 2px solid #902d56; */
    border-radius: 10px;
    display: flex;
    margin-top: 50px;
    height: 500px;
    background-color: #e6eced;
    }
    
    
    #rec_left_container{
        /* border: 1px solid green; */
        height: 450px;
        flex:  1;
        margin: auto;
       
    
    }
    
    #profilepic_container{
        border-radius: 10px;
        /* border: 1px solid darkseagreen; */
        height: 350px;
        width: 300px;
        margin: auto;
       
    }
    
    #profilepic{
        border-radius: 10px;
        /* border: 1px solid darkseagreen; */
        height: 350px;
        width: 300px;
        margin: auto;
        
       
    }
    
    #location{
       text-align: center;
       font-size: 25px;
       margin-top: 10px;
    }
    
    #rec_right_container{
        border: 1px solid lightgray;
        border-radius: 10px;
        height: 350px;
        width: 200px;
        margin-top: 10px;
        padding-left: 20px;
        padding-top: 10px;
        
        flex: 2;

    }
    #decription_section{
    /* border: 2px solid #902d56; */
    border-radius: 10px;
    /* display: flex; */
    margin-top: 50px;
    height: 200px;
    background-color: #e6eced;
    }

#donatenow{
/* border: 1px solid green; */
border-radius: 5px;
height: 50px;
width: 200px;
background-color: #8f2d56;
font-size: 25px;
margin-top: 40px;
padding-top: 8px;
text-align: center;

}

a:hover{
    color: white;
    text-decoration: none;
}



</style>


    <div class="container" id="profile_section">
        <div id="rec_left_container"> 
            <div id="rec_left_content">
                <div id="profilepic_container">
                    {% if rec_id.post_image %}
                    <img src="{{rec_id.post_image}}" id="profilepic" />
                    {% else %}
                    <img src='/static/dentyimages/cavities.png' id="profilepic">
                    {% endif %}
                </div>
                <div id="location">
                <i class="fas fa-map-marker-alt" style="color: red;"></i>
                <span>{{rec_id.state}}</span>
                </div>
            </div>

        </div>
            
        <div id="rec_right_container">
            <h2>TARGET - <span style="font-size: 18px;">₦</span>{{rec_id.amount}}</h2>
            <h2>DONATIONS - {{donations_stats.number_of_donations}}</h2>
            <h2>RAISED - <span style="font-size: 18px;">₦</span>{{donations_stats.total_donations}} </h2><br><br>
        
            {% if percentage_raised == False %}
            <div class="progress"> 
                <div class="progress-bar" role="progressbar" style="width: 100%; background: rgb(185, 183, 183);" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            {% else %}
            <div class="progress"> 

                <div class="progress-bar" role="progressbar" {{percentage_raised_css|safe}} aria-valuenow="{{percentage_raised}}" aria-valuemin="0" aria-valuemax="100">{{percentage_raised}}%</div>
            </div>
            {% endif %}
        <input type="hidden" id="recipientIdForDonation" value="{{rec_id.rec_id}}" />
        <input type="hidden" id="userIdForDonation" value="{{loggedin_user_id}}" />
        <input type="hidden" id="recipientEmailForDonation" value="{{rec_id.email}}" />
        <a href="#" onClick="makePayment()"> 
            <div>
                <p id="donatenow">Donate</p>
            </div>
        </a>

    </div>
        
    </div>

    <div class="container" id="decription_section">
        
        <h2> {{rec_id.post_description}}<h2>
    </div>













{% endblock content %} 