{% extends 'layout.html' %}

{% block content %}
<style>

    #recipient_section{
    /* border: 2px solid #902d56; */
    border-radius: 10px;
    display: flex;
    margin-top: 50px;
    height: 500px;
    background-color: #e6eced;
    }
    
    
    #rec_left_container{
        /* border: 1px solid green; */
        height: 450px;
        flex:  1;
        margin: auto;
       
    
    }
    
    #profilepic_container{
        border-radius: 10px;
        /* border: 1px solid darkseagreen; */
        height: 400px;
        width: 300px;
        margin: auto;
       
    }
    
    #profilepic{
        border-radius: 10px;
        /* border: 1px solid darkseagreen; */
        height: 400px;
        width: 300px;
        margin: auto;
        
       
    }
    
    #location{
       text-align: center;
       font-size: 25px;
       margin-top: 10px;
    }
    
    #rec_right_container{
        /* border: 1px solid lightgray; */
        height: 450px;
        width: 200px;
        margin: auto;
        flex: 2;

    }
    #recipient_section2{
    /* border: 2px solid #902d56; */
    border-radius: 10px;
    display: flex;
    margin-top: 50px;
    height: 500px;
    background-color: #e6eced;
    }

#donatenow{
/* border: 1px solid green; */
border-radius: 5px;
height: 50px;
width: 200px;
background-color: #8f2d56;
font-size: 25px;
margin-top: 40px;
padding-top: 8px;
text-align: center;

}

a:hover{
    color: white;
    text-decoration: none;
}



</style>


    <div class="container" id="recipient_section">
        <div id="rec_left_container"> 
            <div id="rec_left_content">
                <div id="profilepic_container">
                    {% if rec_id.post_image %}
                    <img src="{{rec_id.post_image}}" id="profilepic" />
                    {% else %}
                    <img src='/static/dentyimages/cavities.png' id="profilepic">
                    {% endif %}
                </div>
                <div id="location">
                <i class="fas fa-map-marker-alt" style="color: red;"></i>
                <span>Lagos</span>
                </div>
            </div>

        </div>
            
        <div id="rec_right_container">
        <h1>TARGET: <span style="font-size: 23px;">₦</span>{{rec_id.amount}}</h1>
        <h1>DONATIONS: {{donations_stats.number_of_donations}}</h1>
        <h1>RAISED: {{donations_stats.total_donations}} </h1><br>

   
        <div class="progress"> 
            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percentage_raised}}%
            </div>
        </div>
        <input type="hidden" id="recipientIdForDonation" value="{{rec_id.rec_id}}" />
        <a href="#" onClick="makePayment()"> 
            <div>
                <p id="donatenow">Donate</p>
            </div>
        </a>

    </div>
        
    </div>

    <div class="container" id="recipient_section2">
        <h1>DESCRIPTION</h1>
    </div>













{% endblock content %} 